

img {
  width: 25%;
  height: auto;
  margin-top: 0%;
}

.sunphoto {
    width: 25%;
    height: auto;
}

.orangegif {
    margin-top: 0px;
    width: 25%;
    height: auto;
}

.eggegg {
  align-self: center;
  margin-top: 0px;
  width: 30%;
  height: auto;
  
  
}